.nav-wrapper {
  @apply relative;

  .nav-item-wrapper {
    @apply hidden gap-6 flex-col md:flex md:flex-row md:visible;

    li {
      @apply text-lg hover:text-secondary transition duration-150 cursor-pointer;
    }
  }

  .hamburger {
    @apply block cursor-pointer md:hidden;

    &.is-active path {
      @apply fill-primary transition duration-150;
    }
  }

  .expanded-nav {
    @apply fixed flex md:hidden bg-white top-[88px] left-0 px-5 gap-4 w-full pb-5 border-b-2 border-b-secondary;
  }
}
