.backstory-wrapper {
  @apply max-w-[1080px] mx-auto px-5 py-10 lg:pb-24 flex flex-col md:flex-row justify-between gap-12;

  .content-wrapper {
    @apply flex-1;

    .title {
      @apply text-6xl font-serif font-bold;
    }

    .subtitle {
      @apply text-5xl font-serif mt-2;
    }

    p {
      @apply mt-4;
    }
  }

  .image-wrapper {
    @apply relative flex-1;

    .image {
      @apply md:h-[240px] md:max-w-[320px] lg:h-[280px] lg:max-w-[400px] object-cover rounded-3xl md:absolute;

      &.image-first {
        @apply hidden md:block;
      }

      &.image-second {
        @apply md:top-20 md:left-20;
      }
    }
  }
}
